@if (selection(); as selected) {
  <mat-card appearance="raised" class="node-card">
    <mat-card-header>
      <mat-card-title class="node-title">
        @if (selected.node.icon) {
          <mat-icon [style.color]="selected.node.icon.color">
            {{ selected.node.icon.name }}
          </mat-icon>
        }

        <span>{{ selected.node.title }}</span>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="node-card-content">
      @switch (selected.node.type) {
        @case ('rest-entity') {
        <app-entity-list
            [resource]="selected.node.config.resource"
        />
        }
        @default {
          <div>Unsupported node type: {{ selected.node.type }}</div>
        }
      }
    </mat-card-content>
  </mat-card>
}
