@if (isMobile()) {
  <app-layout-header-mobile
    [breadcrumbs]="breadcrumbs(true)"
    [actions]="toolbarState.actions()"
    (toggleSidenav)="sidenav.toggle()"
    (navigateHome)="navigationState.clear()"
  />
} @else {
  <app-layout-header-desktop
    [breadcrumbs]="breadcrumbs(false)"
    [actions]="toolbarState.actions()"
    (navigateHome)="navigationState.clear()"
  />
}

<mat-sidenav-container class="layout">
  <mat-sidenav #sidenav [mode]="isMobile() ? 'over' : 'side'" [opened]="!isMobile()">
    <app-navigation />
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
