<mat-toolbar>
  <a class="brand" [routerLink]="['/']" (click)="navigateHome.emit()">AdminMesh</a>
  <mat-divider vertical class="toolbar-divider"></mat-divider>
  <app-breadcrumbs [items]="breadcrumbs()"></app-breadcrumbs>
  <span class="toolbar-spacer"></span>

  @if (actions(); as actions) {
    @if (actions.canAdd) {
      <button
        mat-icon-button
        type="button"
        class="toolbar-action add-action"
        [attr.aria-label]="actions.addLabel"
        [matTooltip]="actions.addLabel"
        (click)="actions.add()"
      >
        <mat-icon aria-hidden="true">add</mat-icon>
      </button>
    }
    <button
      mat-icon-button
      type="button"
      class="toolbar-action filter-action"
      [matMenuTriggerFor]="filterMenu"
      [attr.aria-label]="
        actions.filterCount ? 'Filter, ' + actions.filterCount + ' active' : 'Filter'
      "
      matTooltip="Filter"
    >
      <mat-icon
        [fontSet]="actions.filterCount > 0 ? 'material-icons' : 'material-icons-outlined'"
        aria-hidden="true"
        >filter_alt</mat-icon
      >
    </button>
    <mat-menu #filterMenu="matMenu">
      <button mat-menu-item type="button" (click)="actions.editFilters()">
        <mat-icon>tune</mat-icon>
        <span>Edit filters</span>
      </button>
      <button
        mat-menu-item
        type="button"
        [disabled]="actions.filterCount === 0"
        (click)="actions.clearFilters()"
      >
        <mat-icon>filter_alt_off</mat-icon>
        <span>Clear filters</span>
      </button>
    </mat-menu>
  }

  <button
    mat-icon-button
    type="button"
    class="theme-toggle desktop-theme-toggle"
    (click)="themeState.toggle()"
    [attr.aria-label]="themeState.isDark() ? 'Light theme' : 'Dark theme'"
    [matTooltip]="themeState.isDark() ? 'Light theme' : 'Dark theme'"
  >
    <mat-icon>{{ themeState.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
  </button>
</mat-toolbar>
