<mat-toolbar>
  <button
    mat-icon-button
    class="mobile-menu-button"
    aria-label="Open menu"
    (click)="toggleSidenav.emit()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <app-breadcrumbs class="mobile-breadcrumbs" [items]="breadcrumbs()"></app-breadcrumbs>
  <button
    mat-icon-button
    type="button"
    class="overflow-menu-button"
    aria-label="More options"
    [matMenuTriggerFor]="mobileMenu"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #mobileMenu="matMenu">
  <div class="menu-brand">AdminMesh</div>
  <button mat-menu-item type="button" [routerLink]="['/']" (click)="navigateHome.emit()">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </button>
  <mat-divider></mat-divider>
  @for (action of toolbarState.visibleActions(); track action.id) {
    <button mat-menu-item type="button" [class]="action.cssClass" (click)="action.handler()">
      <mat-icon [fontSet]="action.iconFontSet">{{ action.icon }}</mat-icon>
      <span>{{ action.label }}</span>
    </button>
  }
  <mat-divider></mat-divider>
  <button
    mat-menu-item
    type="button"
    class="theme-toggle"
    (click)="themeState.toggle()"
    [attr.aria-label]="themeState.isDark() ? 'Light theme' : 'Dark theme'"
  >
    <mat-icon>{{ themeState.isDark() ? 'light_mode' : 'dark_mode' }}</mat-icon>
    <span>{{ themeState.isDark() ? 'Light theme' : 'Dark theme' }}</span>
  </button>
</mat-menu>
